// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$blue: #264653;
$green: #2A9D8F;
$orange: #F4A261;
$yellow: #E9C46A;
$dark-orange: #E76F51;

















